<div class="conteiner mt-2">
  <div class="custom-file">
    <input
      lang="pt"
      type="file"
      class="custom-file-input"
      id="customFile"
      (change)="onChange($event)"
      multiple
    />
    <label class="custom-file-label" for="customFile" id="labelFile"
      >Selecionar arquivo</label
    >
  </div>
  <br />
  <br />
  <div class="progress">
    <div
      class="progress-bar"
      role="progressbar"
      style="width: 25%"
      aria-valuenow="25"
      aria-valuemin="0"
      aria-valuemax="100"
      [style.width]="progress + '%'"
    >
     {{ progress }}%
    </div>
  </div>
  <div class="mt-5">
    <button
      class="btn btn-dark m-0 m-auto"
      (click)="onUpload()"
      [disabled]="!files"
    >
      UPLOAD
    </button>
  </div>
</div>
<div class="mt-5">
  <button
    class="btn btn-dark m-0 m-auto"
    [disabled]="!files"
    (click)="onDownloadPdf()"
  >
  Download PDF
  </button>
</div>
<div class="mt-5">
  <button
    class="btn btn-dark m-0 m-auto"
    [disabled]="!files"
    (click)="onDownloadExcel()"
  >
    Download excel
  </button>
</div>
